@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
  --cor-primaria: #000000;
  --cor-secundaria: #F6F6F6;
  --cor-terciaria: #FFDD48;
  --cor-hover: #FFDD48;

  --fonte-primaria: 'Krona One', sans-serif;
  --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.cabecalho {
  padding: 2% 0% 0% 15%;
  animation: fadeIn 1s ease-in;
}

.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor-terciaria);
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.cabecalho__menu__link:hover {
  color: var(--cor-secundaria);
  transform: scale(1.1);
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animação da foto */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes swing {
  20% { transform: rotate(15deg); }
  40% { transform: rotate(-10deg); }
  60% { transform: rotate(5deg); }
  80% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.apresentacao__imagem {
  width: 60%;
  animation: swing 1s;

}

/* Apresentação */
.apresentacao {
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Efeito de fade para os títulos */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.apresentacao__conteudo__titulo {
  font-size: 2.25rem;
  font-family: var(--fonte-primaria);
  animation: fadeIn 1s ease-out, pulse 2s infinite;
}

.titulo-destaque {
  color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
  animation: slideIn 1s ease-out;
}

.apresentacao__conteudo__texto li {
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__texto a {
  text-decoration: none;
  color: #FFDD48;
}

/* Efeito de hover nos botões */
.apresentacao__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  animation: slideIn ease-out 1s;
}

.apresentacao__links__subtitulo {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 1.5rem;
}

.apresentacao__links__navegacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 4px solid var(--cor-terciaria);
  width: 50%;
  text-align: center;
  border-radius: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 11.5px 0;
  text-decoration: none;
  color: var(--cor-secundaria);
  font-family: var(--fonte-secundaria);
  transition: background-color 0.3s, transform 0.3s;
}

.apresentacao__links__navegacao img {
  width: 15%;
  margin-right: 3px;
  vertical-align: middle;
}

.apresentacao__links__navegacao:hover {
  background-color: var(--cor-hover);
  transform: scale(1.05);
}

/* Rodapé */
.rodape {
  color: var(--cor-primaria);
  background-color: var(--cor-terciaria);
  padding: 24px;
  text-align: center;
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 400;
}

/* Responsividade */
@media (min-width: 1200px) {
  .apresentacao__imagem {
    align-self: flex-start;
  }
}

@media (max-width: 1200px) {
  .cabecalho {
    padding: 10% 0% 0% 0%;
  }

  .cabecalho__menu {
    justify-content: center;
  }

  .apresentacao {
    flex-direction: column-reverse;
    padding: 5%;
  }

  .apresentacao__conteudo {
    width: auto;
  }

  .apresentacao__links__navegacao {
    width: 30%;
  }

  .apresentacao__links__navegacao img {
    margin-right: 5px;
    width: 20%;
  }

  .apresentacao__imagem {
    width: 60%;
    padding: 0% 0% 5% 0%;
  }

  @media (max-width: 500px) {
    .apresentacao__imagem {
      width: 80%;
    }

    .cabecalho__menu {
      gap: 30px;
    }

    .apresentacao__links__navegacao {
      padding: 11.5px 40px;
    }

    .apresentacao__conteudo__texto ul {
      padding: 1rem;
    }
  }
}

/* CSS para JS */

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--cor-terciaria);
  color: var(--cor-primaria);
  border: 2px solid var(--cor-secundaria);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.scroll-to-top:hover {
  background-color: var(--cor-hover);
  transform: scale(1.1);
}

